DEBUG=1
LOG_FILE=/var/log/routes-setup.log

# Internal interface
INTERNAL=enp0s31f6

# Outbound interfaces: name:dev:ip:gateway
OUTBOUNDS="isp2:enp59s0u2u4c2:192.168.1.10:192.168.1.254 isp1:enp0s20f0u4u4c2:192.168.0.10:192.168.0.1 mobile:enp0s20f0u5u3:192.168.42.10:192.168.42.129"

# Fixed routes by destination: ip:outbound
FIXED_ROUTES="\
99.99.99.99:isp2 \
77.77.77.77:isp1"

# Special routes by users: username:outbound
USER_ROUTES="
user1:isp1 \
user2:isp2"

# Default route for internal SNAT and local routing 
DEFAULT_ROUTE="isp1"

# Failback route is triggered when DEFAULT_ROUTE goes down
FAILBACK_ROUTE="mobile"

# enable DNS redirect (to prevent devices to forcefully use wired-in DNSs): port
#REDIRECT_DNS=53

# Name of table in nft to be created
TABLE_NAME=routes-setup-nat
