
# Disable all operations, print only what would be done:
TEST_ONLY=1

# Enable extra debug output:
DEBUG=1

# Log file
LOG_FILE="/var/log/routes-setup.log"

# Internal interface, home-network side. This interface will _not_ be modified in any way:
INTERNAL="eth0"

# Outbound interfaces. These interfaces will be reprogrammed:
EXTERNAL=("fiber" "adsl")

# For each interface, you must define the hardware device, the local IP to be used (static) and the gateway ip (= ISP device IP). Also, one "default" is required.
EXTERNAL_IF["adsl"]="eth1"
EXTERNAL_IP["adsl"]="192.168.1.10"
EXTERNAL_GW["adsl"]="192.168.1.254"
EXTERNAL_STATUS["adsl"]="failback"

EXTERNAL_IF["fiber"]="eth2"
EXTERNAL_IP["fiber"]="192.168.0.10"
EXTERNAL_GW["fiber"]="192.168.0.1"
EXTERNAL_STATUS["fiber"]="default"

# Fixed routes ip:unused (use only IPs!). "switch" and "fixed" are currently unused, but required (either one doesnt matter)
FIXED_ROUTES["fiber"]="77.77.77.77:switch"
FIXED_ROUTES["adsl"]="99.99.99.99:fixed 99.99.99.100:switch"  

# User specific routes ip:unused (use only IPs!). "switch" and "fixed" are currently unused, but required (either one doesnt matter)
USER_ROUTES["adsl"]="nzbget:fixed transmission:switch deluge:switch"

# Routing settings (use only IPs!)
#ROUTE_CHECK_IP="1.1.1.1 8.8.8.8"
#ROUTE_CHECK_INTERVAL=60

# enable DNS redirect (to prevent devices to forcefully use wired-in DNSs): 1= enable, 0=disable
REDIRECT_DNS=1

# Notifications
ENABLE_EMAIL=0
EMAIL_SENDER_NAME="Willy Gardiol"
EMAIL_SENDER_ADDRESS="willy@gardiol.org"
EMAIL_RECEIVER_ADDRESS="willy@gardiol.org other.email@gmail.com"
EMAIL_SUBJECT="Routes setup notification"


